<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debugLog</key>
	<false/>
	<key>initConfig</key>
	<dict>
		<key>defaultConfig</key>
		<dict>
			<key>passVideoPresent</key>
			<string>0.2</string>
			<key>passLoginConfig</key>
			<dict>
				<key>username</key>
				<string>Dvbnnbvv</string>
				<key>uid</key>
				<string>1760960653</string>
				<key>passLoginDec</key>
				<string>敬告：提----审使用，isPassLogin：0/1（是否跳过登录）。如果isPassLogin=1，uid和username必须设置</string>
				<key>isPassLogin</key>
				<string>1</string>
			</dict>
			<key>inputViewType</key>
			<string>3</string>
			<key>videoName</key>
			<string>movie</string>
			<key>videoType</key>
			<string>mp4</string>
			<key>color</key>
			<dict>
				<key>titleFontColor</key>
				<string>#f47920</string>
				<key>fillColor</key>
				<string>#FEF8C4</string>
				<key>backgroundColor</key>
				<string>#fedcbd</string>
				<key>commitBtnBackgroundColor</key>
				<string>#ffffff</string>
			</dict>
		</dict>
	</dict>
	<key>requestConfig</key>
	<dict>
		<key>member</key>
		<string>login</string>
		<key>port</key>
		<string>11002</string>
		<key>interFace</key>
		<string>userua</string>
		<key>appstore</key>
		<string>apppay</string>
		<key>memberole</key>
		<string>urole</string>
		<key>updateuserlogin</key>
		<string>ulog</string>
		<key>gameinitialise</key>
		<string>init</string>
		<key>type</key>
		<string>login</string>
		<key>memberorder</key>
		<string>genorder</string>
		<key>ip</key>
		<string>101.132.113.84</string>
		<key>activate</key>
		<string>act</string>
	</dict>
</dict>
</plist>
