<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<false/>
	<key>requestConfig</key>
	<dict>
		<key>member</key>
		<string>login</string>
		<key>port</key>
		<string>11002</string>
		<key>interFace</key>
		<string>userua</string>
		<key>appstore</key>
		<string>apppay</string>
		<key>memberole</key>
		<string>urole</string>
		<key>updateuserlogin</key>
		<string>ulog</string>
		<key>gameinitialise</key>
		<string>init</string>
		<key>type</key>
		<string>login</string>
		<key>activate</key>
		<string>act</string>
		<key>memberorder</key>
		<string>genorder</string>
		<key>ip</key>
		<string>101.132.113.84</string>
		<key>walkThrough</key>
		<string>walkThrough</string>
		<key>customQQ</key>
		<string>customQQ</string>
	</dict>
	<key>varNames_isUsingPhoto</key>
	<false/>
	<key>varNames_contentViewConfig</key>
	<dict>
		<key>HowToDo</key>
		<string>该条内容在打包的时候应该删除。其中配置varNames_allViewConfig中的内容会配置到所有的页面的样式，如果需要个别页面更改样式的，可以对个别的页面进行配置</string>
		<key>diffrentView</key>
		<array>
			<string>该条总内容在打包的时候应该删除，方便区分不同页面</string>
			<string>varNames_allViewConfig代表全部页面的配置</string>
			<string>varNames_autoViewConfig代表自动登录页面的配置</string>
			<string>varNames_loginViewConfig代表登录页面的配置</string>
			<string>varNames_normalRegisterViewConfig代表普通注册页面的配置</string>
			<string>varNames_phoneRegisterViewConfig代表手机注册页面的配置</string>
			<string>varNames_findPasswordViewConfig代表找回密码页面的配置</string>
			<string>varNames_resetPasswordViewConfig代表重置密码页面的配置</string>
			<string>varNames_suggestViewConfig代表提示绑定手机页面的配置</string>
			<string>varNames_quickLoginViewConfig代表快速登录后保存密码的页面配置</string>
			<string>varNames_bindPhoneViewConfig代表绑定手机页面的配置</string>
			<string>varNames_bindPersonIDViewConfig代表绑定身份证页面的配置</string>
			<string>varNames_skillSelectViewConfig代表功能选择页面的配置</string>
		</array>
		<key>varNames_allViewConfig</key>
		<dict>
			<key>varNames_titleLabelConfig</key>
			<dict>
				<key>varNames_colorConfig</key>
				<dict>
					<key>varNames_backgroundColor</key>
					<string></string>
					<key>varNames_fontColor</key>
					<string></string>
					<key>varNames_borderColor</key>
					<string></string>
				</dict>
				<key>varNames_fontConfig</key>
				<dict>
					<key>varNames_fontSize</key>
					<integer>15</integer>
					<key>varNames_fontBold</key>
					<true/>
					<key>textAlignment</key>
					<integer>1</integer>
				</dict>
				<key>varNames_localConfig</key>
				<dict>
					<key>varNames_top</key>
					<string></string>
					<key>varNames_left</key>
					<string></string>
					<key>varNames_bottom</key>
					<string></string>
					<key>varNames_right</key>
					<string></string>
					<key>varNames_width</key>
					<string></string>
					<key>varNames_height</key>
					<string></string>
				</dict>
				<key>varNames_styleConfig</key>
				<dict>
					<key>varNames_cornerRadius</key>
					<integer>0</integer>
					<key>varNames_borderWidth</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>varNames_firstBtnConfig</key>
			<dict>
				<key>varNames_colorConfig</key>
				<dict>
					<key>varNames_backgroundColor</key>
					<string></string>
					<key>varNames_fontColor</key>
					<string></string>
					<key>varNames_borderColor</key>
					<string></string>
				</dict>
				<key>varNames_fontConfig</key>
				<dict>
					<key>varNames_fontSize</key>
					<integer>15</integer>
					<key>varNames_fontBold</key>
					<true/>
					<key>textAlignment</key>
					<integer>1</integer>
				</dict>
				<key>varNames_localConfig</key>
				<dict>
					<key>varNames_top</key>
					<string></string>
					<key>varNames_left</key>
					<string></string>
					<key>varNames_bottom</key>
					<string></string>
					<key>varNames_right</key>
					<string></string>
					<key>varNames_width</key>
					<string></string>
					<key>varNames_height</key>
					<string></string>
				</dict>
				<key>varNames_styleConfig</key>
				<dict>
					<key>varNames_cornerRadius</key>
					<integer>0</integer>
					<key>varNames_borderWidth</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>varNames_secondBtnConfig</key>
			<dict>
				<key>varNames_colorConfig</key>
				<dict>
					<key>varNames_backgroundColor</key>
					<string></string>
					<key>varNames_fontColor</key>
					<string></string>
					<key>varNames_borderColor</key>
					<string></string>
				</dict>
				<key>varNames_fontConfig</key>
				<dict>
					<key>varNames_fontSize</key>
					<integer>15</integer>
					<key>varNames_fontBold</key>
					<true/>
					<key>textAlignment</key>
					<integer>1</integer>
				</dict>
				<key>varNames_localConfig</key>
				<dict>
					<key>varNames_top</key>
					<string></string>
					<key>varNames_left</key>
					<string></string>
					<key>varNames_bottom</key>
					<string></string>
					<key>varNames_right</key>
					<string></string>
					<key>varNames_width</key>
					<string></string>
					<key>varNames_height</key>
					<string></string>
				</dict>
				<key>varNames_styleConfig</key>
				<dict>
					<key>varNames_cornerRadius</key>
					<integer>0</integer>
					<key>varNames_borderWidth</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>varNames_inputViewConfig</key>
			<dict>
				<key>varNames_isUsingTitle</key>
				<false/>
				<key>varNames_inputTextFontSize</key>
				<integer>15</integer>
				<key>varNames_inputViewStyle</key>
				<integer>0</integer>
				<key>varNames_inputViewLeftImageStyle</key>
				<integer>0</integer>
				<key>varNames_inputViewRightImageStyle</key>
				<integer>0</integer>
				<key>varNames_colorConfig</key>
				<dict>
					<key>varNames_backgroundColor</key>
					<string></string>
					<key>varNames_fontColor</key>
					<string></string>
					<key>varNames_borderColor</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
		<key>New item - 4</key>
		<string></string>
		<key>autoViewConfig</key>
		<dict/>
	</dict>
</dict>
</plist>
